@model test_task_MVS.Models.ListModel

@{
    ViewBag.Title = "Новый кандидат:";
}
<h3>Новая кандидатура:</h3>

<div class="border">
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="editor-label">
            @Html.LabelFor(model => model.full_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.full_name)
            @Html.ValidationMessageFor(model => model.full_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mail)
            @Html.ValidationMessageFor(model => model.mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fone)
            @Html.ValidationMessageFor(model => model.fone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vacancy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.vacancy)
            @Html.ValidationMessageFor(model => model.vacancy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.experience)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.experience, new { style = "min-width: 400px; max-width: 400px; max-height: 70px; min-height:70px;" })
            @Html.ValidationMessageFor(model => model.experience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.professional_skills)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.professional_skills, new { style = "min-width: 400px; max-width: 400px; max-height: 100px; min-height:100px;" })
            @Html.ValidationMessageFor(model => model.professional_skills)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.personal_qualities)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.personal_qualities, new { style = "min-width: 400px; max-width: 400px; max-height: 100px; min-height:100px;" })
            @Html.ValidationMessageFor(model => model.personal_qualities)
        </div>

        <input type="submit" value="Добавить:" id="input_submit" />
    }
</div>